EJBWebServiceClient/xml-resources/web-service-references/LibraryService/wsdl/LibraryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="LibraryService" targetNamespace="http://stateless.tutorialspoint.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://stateless.tutorialspoint.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://stateless.tutorialspoint.com/" version="1.0" xmlns:tns="http://stateless.tutorialspoint.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="addBook" type="tns:addBook"/>
<xs:element name="addBookResponse" type="tns:addBookResponse"/>
<xs:element name="getBooks" type="tns:getBooks"/>
<xs:element name="getBooksResponse" type="tns:getBooksResponse"/>
<xs:element name="postConstruct" type="tns:postConstruct"/>
<xs:element name="postConstructResponse" type="tns:postConstructResponse"/>
<xs:element name="preDestroy" type="tns:preDestroy"/>
<xs:element name="preDestroyResponse" type="tns:preDestroyResponse"/>
<xs:complexType name="getBooks">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="getBooksResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="book">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="image" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="postConstruct">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="postConstructResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="addBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="addBookResponse">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="preDestroy">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="preDestroyResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="postConstruct">
    <wsdl:part element="tns:postConstruct" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addBookResponse">
    <wsdl:part element="tns:addBookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="preDestroy">
    <wsdl:part element="tns:preDestroy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooksResponse">
    <wsdl:part element="tns:getBooksResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="preDestroyResponse">
    <wsdl:part element="tns:preDestroyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooks">
    <wsdl:part element="tns:getBooks" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addBook">
    <wsdl:part element="tns:addBook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postConstructResponse">
    <wsdl:part element="tns:postConstructResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LibraryPersistentBean">
    <wsdl:operation name="getBooks">
      <wsdl:input message="tns:getBooks" name="getBooks">
    </wsdl:input>
      <wsdl:output message="tns:getBooksResponse" name="getBooksResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postConstruct">
      <wsdl:input message="tns:postConstruct" name="postConstruct">
    </wsdl:input>
      <wsdl:output message="tns:postConstructResponse" name="postConstructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBook">
      <wsdl:input message="tns:addBook" name="addBook">
    </wsdl:input>
      <wsdl:output message="tns:addBookResponse" name="addBookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preDestroy">
      <wsdl:input message="tns:preDestroy" name="preDestroy">
    </wsdl:input>
      <wsdl:output message="tns:preDestroyResponse" name="preDestroyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibraryServiceSoapBinding" type="tns:LibraryPersistentBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBooks">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBooks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBooksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postConstruct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="postConstruct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="postConstructResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preDestroy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="preDestroy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="preDestroyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port binding="tns:LibraryServiceSoapBinding" name="LibraryPersistentBeanPort">
      <soap:address location="http://localhost:8082/EJBComponent/LibraryService/LibraryPersistentBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>